body{
	/*
	  ORGANISAMOS POR ORDEN ALFABETICOS TODOS LOS ATRIBUTOS 
	*/
   background: olive;
   color: white;
   font-family: Helvetica, Arial;
   font-size: 16px;
}

h1{
	text-align: center;
	text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
/*
   TODO ARRIBA EN ETIQUETAS
   LUEGOS LOS id Y POR ULTIMO LAS CLASES
*/

#primer-parrafo{
   background: white;
   border-radius: 0.5em;
   box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
   color: black; 	
   display: block;
   margin: 1em auto;
   padding: 1em;
   width: 70%;
}

.naranja{
	color: orange;
	font-weight: bold;
}